:root {
    --bg: #121212;
    --text: #ffffff;
    --accent: #e8ff47;
}

body {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

/* ESTO ES LO QUE HACE QUE SOLO SE VEA UNA PANTALLA */
.screen {
    display: none; 
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}